.footer {
  background-color: var(--dark-blue-color);

  background: rgb(19, 31, 47);
  background: linear-gradient(
    0deg,
    rgba(19, 31, 47, 1) 0%,
    rgba(19, 31, 47, 0.8044467787114846) 81%
  );
  padding: 50px 0;
  font-size: 14px;
  color: #fff;

  h2 {
    font-size: 26px;
  }

  @media (max-width: 1023px) {
    font-size: 26px;
  }
}

.footer__nav {
  display: flex;
  width: 100%;

  justify-content: space-between;

  padding-bottom: 20px;

  @media (max-width: 1023px) {
    display: block;
  }
}

.footer__nav-box {
}

.footer__nav-title {
  font-size: 16px;
  color: #fff;
  margin: 20px 0;
  @media (max-width: 1023px) {
    font-size: 26px;
    border-bottom: 1px solid #fff;
  }
}

.footer__nav-list {
  font-size: 14px;
  @media (max-width: 1023px) {
    font-size: 18px;
  }
}

.footer__nav-item {
  display: block;
  color: #fff;
  margin-bottom: 5px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.footer__social {
  display: flex;
  width: 100%;
  justify-content: center;
  a,
  button {
    display: block;
    width: 40px;
    margin: 30px;
  }

  img {
    width: 40px;
    color: #fff;
    transition: all 1s ease;
  }
}
