.see-more {
  position: relative;

  display: block;
  transform-origin: left bottom;
  transform: rotate(-90deg) translate(0%, 100%);

  padding-left: 60px;

  font-size: 18px;

  transition: all 0.4s ease-in;

  &::before {
    content: "";

    position: absolute;
    left: calc(0px + 38px);
    top: calc(50% - 1.5px);
    border-radius: 1px;

    transform-origin: left bottom;
    transform: rotate(-180deg) translate(0%, 100%);

    width: 40px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.3;
  }

  &::after {
    content: "";

    position: absolute;
    left: calc(0px + 38px);
    top: calc(50% - 1.5px);

    transform-origin: left bottom;
    transform: rotate(-180deg) translate(0%, 100%);

    border-radius: 1px;

    width: 0px;
    height: 3px;
    background-color: var(--yallow-bg);
    transition: all 0.2s ease-in;
  }

  &:hover {
    font-size: 22px;
    transition: all 0.2s ease-in;
  }

  &:hover::after {
    content: "";

    position: absolute;
    left: calc(0px + 38px);
    top: calc(50% - 1.5px);

    transform-origin: left bottom;
    transform: rotate(-180deg) translate(0%, 100%);

    width: 40px;
    height: 3px;
    background-color: var(--yallow-bg);
    transition: all 0.2s ease-in;
  }
}
